#wrapper{
   &.home{

   }
   header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 100;
      transition: all .3s ease-in-out;

      .navbar{
         @include media-breakpoint-down(sm) {
            padding-left: 30px;
            padding-right: 30px;
         }
         @include media-breakpoint-only(md) {
            padding-left: 30px;
            padding-right: 30px;
         }
      }

      &.header-home{
         height: 230px;
         @include media-breakpoint-down(sm) {
            height: 61px;
            background-color: white;
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
            .navbar-brand {
               img{
                  height: 41px;
               }
            }
         }
         @include media-breakpoint-only(md) {
            height: 61px;
            background-color: white;
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
            .navbar-brand {
               img{
                  height: 41px;
               }
            }
         }
      }

      &.shrinked, &.header-default{
         height: 70px;
         background-color: white;
         box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
         @include media-breakpoint-down(sm) {
            height: 61px !important;
         }
         @include media-breakpoint-only(md) {
            height: 61px !important;
         }

         .navbar-brand {
            img{
               transition: all .3s ease-in-out;
               height: 50px;
               @include media-breakpoint-down(sm) {
                  height: 41px;
               }
               @include media-breakpoint-only(md) {
                  height: 41px;
               }
            }
         }
      }
   }
}

.navbar-toggler>.close-bar {
   display:inline;
}
.navbar-toggler.collapsed>.close-bar, .navbar-toggler:not(.collapsed)>.fa-bars {
   display:none;
}
.navbar-toggler{
   margin-top: -6px;
   .fas{
      font-size: 25px;
      color: $biru-2 !important;
   }
}
.navbar-toggler:focus{
   outline: 0 !important;
   border: 0;
}
#navbarSupportedContent{
   @include media-breakpoint-down(sm) {
      background-color: $biru;
      position: absolute;
      width: 100%;
      top: 61px;
      left: 0;
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
      color: white;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
   }
   @include media-breakpoint-only(md) {
      background-color: $biru;
      position: absolute;
      width: 100%;
      top: 61px;
      left: 0;
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
      color: white;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
   }
   ul.navbar-nav{
      @include media-breakpoint-down(sm) {
         padding-top: 1.2rem;
         padding-bottom: 1.2rem;
      }
      @include media-breakpoint-only(md) {
         padding-top: 1.2rem;
         padding-bottom: 1.2rem;
      }
      li.nav-item{
         &:hover{
            a{
            }
        }
         a{
            @include media-breakpoint-down(sm) {
               color: white;
               font-size: 14px;
               line-height: 2;
            }
            @include media-breakpoint-only(md) {
               color: white;
               font-size: 14px;
               line-height: 2;
            }
         }
      }
   }
}