$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
// color
$warna1: #e1848e; //pink
$warna2: #cb8967; //coklat tua
$warna3: #f3ebe0; //cream
$cGelap: #ECCBAA; //creamgelap