.hero {
    min-height:60vh;
    .keterangan{
        margin-top:1.5rem;
    }
    .wrapper{
        @include media-breakpoint-down(lg) {
            flex-direction: column-reverse !important;
            .keterangan{
                margin-top:.5rem;
                text-align:center;
                h5{
                    display: none;
                }
            }
        }
    }
    &__banner{
        height: 60vh !important;
        position: absolute !important;
        transform: translateY(-50%) !important;
        @include media-breakpoint-down(lg) {
            padding-top: 1.5rem;
            transform: translateY(0) !important;
            height: 40vh !important;
            position: relative !important;
            flex-direction: column-reverse !important;
        }
        img{
            object-fit: cover;
            width:100%;
            height:100%;
        }
    }
}
.destinasi{
    background-color: #547726;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25), 0px -5px 20px 5px rgba(0, 0, 0, 0.25);
   
    &__wrap{
        width: 90% !important;
    }
    .col{
        @include media-breakpoint-down(lg) {
            margin-top: 2rem;
          }
    }
}
.home-agenda{
    margin-top: 2rem;
    .title{
        @include media-breakpoint-down(lg) {
           padding: 2rem;
          }
    }
}
.col-6.bannner img {
    width: 100%;
    
  }
.map{
    &__wrap{
        @include media-breakpoint-down(lg) {
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
        }
    }
    .pc{
        @include media-breakpoint-down(lg) {
            width: 300px;
            height: 200px;
            display:flex;
            iframe{
                width: 100%;
                height: 100%;
            }
        }
    }
}
  .image-map{
    height: 40vh;
    img{
        height: 100%;
        object-fit: cover;
    }
    @include media-breakpoint-down(lg) {
        display: none;
    }
  }

  .data-penduduk {
    i{
        font-size: 32px;
    }
  }

  .moto{
    background-color: #547726;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25), 0px -5px 20px 5px rgba(0, 0, 0, 0.25);
    height: 30vh;
  }
  .berita{
    &__utama{
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__image{
        width: 95%;
        img{
            width:100%;
            object-fit:cover;
        }
    }
    &__daftar{
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 1rem;
        padding-bottom: 1px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @include media-breakpoint-down(lg) {
           
            display: none;
        }
    }
  }
  .potensi{
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #547726;
    }
    .nav-pills .nav-link{
        padding: .1rem .5rem;
        color : black;
    }
    div#pills-tabContent {
        background: rgba(140, 198, 63, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 1rem;
    }
  }
  .bannerTentang{
    background:  url('/../../frontend-assets/image/banner/tentang.jpg') no-repeat center;
    min-height: 400px;
}
.sejarah{
    p{
        text-align: justify;
        @include media-breakpoint-down(lg) {
           margin-top: 1rem;
          }
    }
    &__wrap{
        @include media-breakpoint-down(lg) {
          flex-direction: column-reverse !important;
        }
    }
    
    &__image{
        position: absolute;
        right: 0;
        img{
            width: 100%;
            object-fit: cover;
        }
        @include media-breakpoint-down(lg) {
            padding-top: 1.5rem;
            position: relative !important;
        }
        
    }
}
.keanggotaan{
    &__image{
        width: 300px;
        height: 300px;
        @include media-breakpoint-down(lg) {
            width: 150px;
            height: 150px;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}
.misi{
    &__wrap{
        background: rgba(140, 198, 63, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 1rem;
    }
}

.berita-utama-wrap{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.detail-img{
    img{
        width:100%;
        
    }
}
.info{
    background-color: #63813B;
    &__image{
        width: 150px;
        img{
            width:100%;
            object-fit:contain;
        }
    }
    @include media-breakpoint-down(lg) {
        .kontak{
            display:none !important;
        }
        &__ket{
            span{
                display:none !important;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        h4{
            text-align: center;
        }
        &__wrap{
            flex-direction:column;
        }
        .kontak{
            display:none !important;
        }
        &__ket{
            span,p{
                display:none !important;
            }
        }
    }
}