.login {
    .form-group .col-md-6 {
        margin: 0 auto;
    }
    .form-control {
        border: none;
        border-bottom: solid 1px #eccbaa;
        border-radius: 0;
    }
    .form-control:focus {
        border-bottom: solid 1px #cb8967;
        box-shadow: inset 0 1px 1px #fff, 0 0 8px #fff;
    }
}
