footer {
	h3{
		color: white;
		font-size: 1.1rem;
	}
	position: relative;
	width: 100%;
	background-color: #547726;
color: white;
	padding-top: 3rem;
	padding-bottom: 1rem;
    .container{
        @include media-breakpoint-down(sm) {
            padding-left: 30px;
            padding-right: 30px;
        }
        @include media-breakpoint-only(md) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
// @media screen and (min-height:1073px){
// 	position: absolute;
// 	bottom: 0;
// }
	ul{
		padding-left: 0;
		li{
			list-style: none;
			display: inline;
			font-size: 14px !important;
			margin-right: 0.7rem;
			&:not(:last-child):after {
				content: "|";
				margin-left: 0.7rem;
			}
			a{
				text-decoration:none;
				color: white;
			}
		}
	}
	
	.sosmed{
        @include media-breakpoint-down(sm) {
			text-align: center;
			margin-bottom: 1rem;
		}
        @include media-breakpoint-only(md) {
			text-align: center;
			margin-bottom: 1rem;
		}
		i{
			color: rgba(255,255,255,0.7);
			font-size: 25px;
			margin-right: 0.8rem;
		}
		.fa-facebook{
			&:hover{
				color: blue;
			 }
		}
		.fa-youtube{
			&:hover{
				color: red;
			 }
		}
		.fa-instagram{
			&:hover{
				color: #d6249f;
			 }
		}
		.fa-tiktok{
			&:hover{
				color: black
			 }
		}
		.fa-telegram-plane{
			&:hover{
				color: blue;
			 }
		}
	}
	.web-credit{
        @include media-breakpoint-down(sm) {
			justify-content: center !important;
		}
        @include media-breakpoint-only(md) {
			justify-content: center !important;
		}
	}
}
.p.p__bottom{
	color:white !important;
}